In [1]:
a=100
b=200
print a/b

0

In [2]:
a=010

In [3]:
print a

8

In [4]:
pwd

u'/home/khyaathi-python/pythonexamples/batch48'

In [5]:
a=10
b=20
print a>b

False

In [6]:
s1="str"
s2="str1"
print s1+s2

strstr1

In [7]:
a="10"
print type(a)

<type 'str'>

In [8]:
a="10"
b="20"
print a+b

1020

In [9]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print l1+l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
l1=[1,1.2,"34",[1,2,3,4]]
l2=[10,20,30,40]
print l1+l2

[1, 1.2, '34', [1, 2, 3, 4], 10, 20, 30, 40]

In [11]:
l1=[1,2,3,4]
l2=[5,6,7,8]
print l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
a=10
b=0x10
print a+b

26

In [13]:
a="10"
b=20
print a+b

TypeError: cannot concatenate 'str' and 'int' objects

In [15]:
a=10
b=1+2j
print type(a)
print type(b)
print a+b

<type 'int'>
<type 'complex'>
(11+2j)

In [16]:
a=10
print complex(a)
b=1+2j
print type(a)
print type(b)
print a+b

(10+0j)
<type 'int'>
<type 'complex'>
(11+2j)

In [17]:
cost="12"
s="cost of the product:"
print s+cost

cost of the product:12

In [18]:
cost=12
s="cost of the product:"
print s+cost

TypeError: cannot concatenate 'str' and 'int' objects

In [19]:
cost=12
cost1=str(cost)
print cost1, type(cost1)
s="cost of the product:"
print s+cost

12 <type 'str'>

TypeError: cannot concatenate 'str' and 'int' objects

In [20]:
cost=12
cost1=str(cost)
print cost1, type(cost1)
s="cost of the product:"
print s+cost1

12 <type 'str'>
cost of the product:12

In [21]:
a=10
b=20
print a/b

0

In [22]:
print 10/20.0

0.5

In [23]:
a=10
b=20
print a/b.0

SyntaxError: invalid syntax (<ipython-input-23-5c2bf7b8781a>, line 3)

In [25]:
a=10
b=20
print a/float(b)

0.5

In [26]:
a=10
b=20
print float(a)/b

0.5

In [27]:
print float(a/b)

0.0

In [28]:
float(0)

0.0

In [30]:
a=10
b=20
print a/(b*1.0)

0.5

In [31]:
print float(a)

10.0

In [32]:
a="10"
b="2"
print a>b

False

In [33]:
a=10
b=2
print a>b

True

In [34]:
ord("10")

TypeError: ord() expected a character, but string of length 2 found

In [35]:
#10,2,-3,50,67
#-3,2,10,50,67
# "cat", "camel", "ant", "bat"
# ant, bat, camel, cat
# "10","2","3","50","67"
a="10"
b=20
print a+str(b)
print int(a)+b

1020
30

In [36]:
a="10"
b=int(a)
print a,b

10 10

In [37]:
a="10"
b=int(a)
print a,b
print type(a),type(b)

10 10
<type 'str'> <type 'int'>

In [38]:
costprice=23.45
s="cost price of the product is:"
# cost price of the product is:23

In [39]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print name,age,height

Anil kumar 23 5.67342

In [40]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:",name,age,height

Name: Anil kumar 23 5.67342

In [41]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,age,height

Name:Anil kumar 23 5.67342

In [42]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name

Name:Anil kumar

In [43]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:",name

Name: Anil kumar

In [44]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"name

SyntaxError: invalid syntax (<ipython-input-44-6354ba43e532>, line 5)

In [45]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:",name,"Age:",age,"Height:",height

Name: Anil kumar Age: 23 Height: 5.67342

In [46]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:",age,"Height:",height

Name:Anil kumar Age: 23 Height: 5.67342

In [47]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:"+age,"Height:"+height

Name:Anil kumar

TypeError: cannot concatenate 'str' and 'int' objects

In [48]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:"+str(age),"Height:"+height

 Name:Anil kumar Age:23

TypeError: cannot concatenate 'str' and 'float' objects

In [49]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:"+str(age),"Height:"+str(height)

 Name:Anil kumar Age:23 Height:5.67342

In [50]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,", Age:"+str(age),", Height:"+str(height)

Name:Anil kumar , Age:23 , Height:5.67342

In [51]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name+", Age:"+str(age)+", Height:"+str(height)

Name:Anil kumar, Age:23, Height:5.67342

In [52]:
s=raw_input("Enter city name:")
print s

Enter city name:hyderbad
hyderbad

In [53]:
s=raw_input("Enter city name:")
print s

Enter city name:banglore
banglore

In [54]:
# city had a good climate today
city=raw_input("Enter city name:")
print city, "had a good climate today"

Enter city name:hyderbad
hyderbad had a good climate today

In [55]:
# city had a good climate today
city=raw_input("Enter city name:")
print city, "had a good climate today"

Enter city name:banglore
banglore had a good climate today

In [56]:
# the cost of the apple is 23.45
product=raw_input("Entewr product name:")
cost=raw_input("Enter cost of the above product:")

Entewr product name:werwtr
Enter cost of the above product:234

In [57]:
# the cost of the apple is 23.45
product=raw_input("Entewr product name:")
cost=raw_input("Enter cost of the above product:")
print "the cost of the",product,"is",cost

Entewr product name:apple
Enter cost of the above product:23.45
the cost of the apple is 23.45

In [58]:
# the cost of the apple is 23.45
product=raw_input("Entewr product name:")
cost=raw_input("Enter cost of the above product:")
print "the cost of the",product,"is",cost

Entewr product name:orange
Enter cost of the above product:45
the cost of the orange is 45

In [59]:
name=raw_input("enter name:")
age=raw_input("Enter Age:")
height=raw_input("Enter height:")
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:",name,"Age:",age,"Height:",height

enter name:anil
Enter Age:23
Enter height:5.6789
Name: anil Age: 23 Height: 5.6789

In [60]:
name=raw_input("enter name:")
age=raw_input("Enter Age:")
height=raw_input("Enter height:")
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:"+age,"Height:"+height

enter name:anil
Enter Age:23
Enter height:5.6789
Name:anil Age:23 Height:5.6789

In [61]:
name=raw_input("enter name:")
age=raw_input("Enter Age:")
height=raw_input("Enter height:")
# Name:Anil kumar, Age:23, Height:5.67342
#print "Name:"+name,"Age:"+age,"Height:"+height
print name, type(name)
print age,type(age)
print height, type(height)

enter name:anilk
Enter Age:23
Enter height:5.6789
anilk <type 'str'>
23 <type 'str'>
5.6789 <type 'str'>

In [62]:
name=raw_input("enter name:")
age=raw_input("Enter Age:")
height=raw_input("Enter height:")
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,", Age:"+age,", Height:"+height

enter name:anil
Enter Age:23
Enter height:5.78
Name:anil , Age:23 , Height:5.78

In [63]:
name=raw_input("enter name:")
age=raw_input("Enter Age:")
height=raw_input("Enter height:")
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name+", Age:"+age+", Height:"+height

enter name:anil
Enter Age:23
Enter height:5.6789
Name:anil, Age:23, Height:5.6789

In [64]:
first naumber=10

SyntaxError: invalid syntax (<ipython-input-64-5d01698afa5b>, line 1)

In [65]:
firstnaumber=10

In [66]:
first_naumber=10

In [68]:
fisrt_number=raw_input("Enter firtst number:")
second_number=raw_input("Enter second number:")
print fisrt_number+second_number

Enter firtst number:10
Enter second number:20
1020

In [70]:
fisrt_number=raw_input("Enter firtst number:")
second_number=raw_input("Enter second number:")
a=int(fisrt_number)
b=int(second_number)
print a+b

Enter firtst number:10
Enter second number:20
30

In [71]:
fisrt_number=raw_input("Enter firtst number:")
second_number=raw_input("Enter second number:")
a=int(fisrt_number)
b=int(second_number)
print a+b

Enter firtst number:12.34
Enter second number:45.67

ValueError: invalid literal for int() with base 10: '12.34'

In [72]:
int(12.34)

12

In [73]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [74]:
int("12")

12

In [75]:
s="12.34"
f=float(s)
i=int(f)
print i

12

In [76]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [77]:
int(12.34)

12

In [78]:
int("1242")
print 2*1+4*10+2*100+1*1000

1242

In [79]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [81]:
int("12abf")

ValueError: invalid literal for int() with base 10: '12abf'

In [82]:
int("12abf",16)

76479

In [ ]:
print int("12")

In [ ]:
print int("12",8)

In [ ]:
print int("010101",2)

In [83]:
print int("1234",2)

ValueError: invalid literal for int() with base 2: '1234'

In [84]:
vol_id="0x123ab34"
vil_id_req="123ab34"
print int(vil_id_req,16)

19114804

In [85]:
a=10
b=20
print a**3

1000

In [86]:
ab

NameError: name 'ab' is not defined

In [87]:
a*b

200

In [88]:
print 10*20/4

50

In [89]:
print (10*20)/4

50

In [90]:
print 10+20/4

15

In [91]:
print (10+20)/4

7

In [92]:
a=10
b=20
print (a+b)**3
print a+b**3
print a**3+b**3+3*a*b*(a+b)
print a**3+b**3+3*a*b*a+b
print a**3+b**3+3*a**2*b+3*a*b**2

27000
8010
27000
15020
27000

In [93]:
print 100/20/5

1

In [94]:
print 100/(20/5)

25

In [95]:
print 16**0.5

4.0

In [96]:
print 16**1/2

8

In [97]:
print 16**(1/2)

1

In [98]:
print 16**(1/2.0)

4.0

In [99]:
a=4
b=4.0
print a==b

True

In [101]:
name="Anil kumar"
age=23
height=5.67342
# Name:Anil kumar, Age:23, Height:5.67342
print "Name:"+name,"Age:"+str(age),"Height:"+str(height)

 Name:Anil kumar Age:23 Height:5.67342

In [102]:
print "line1 line2"

line1 line2

In [103]:
print "line1"
print "line2"

line1
line2

In [104]:
print "line1",
print "line2"

line1 line2

In [105]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfjhsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

sfsdfsdfkjsjhfsdnfnsdkjfksadjfjhsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi

In [106]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj
hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

SyntaxError: EOL while scanning string literal (<ipython-input-106-c94270f244eb>, line 1)

In [107]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj,
hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

SyntaxError: EOL while scanning string literal (<ipython-input-107-568abe98a7b8>, line 1)

In [108]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj
"hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

SyntaxError: EOL while scanning string literal (<ipython-input-108-bc639f39ba07>, line 1)

In [109]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj,
"hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

SyntaxError: EOL while scanning string literal (<ipython-input-109-f0735e55c641>, line 1)

In [111]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj",
"hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"
print ""

sfsdfsdfkjsjhfsdnfnsdkjfksadjfj

In [112]:
print "sfsdfsdfkjsjhfsdnfnsdkjfksadjfj\
hsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi"

sfsdfsdfkjsjhfsdnfnsdkjfksadjfjhsd0ivfnmsdiofndsioafjnhsdoifhjsdioafsoi

In [113]:
print "line1"
print "line2"

line1
line2

In [114]:
print "line1","line2"

line1 line2

In [115]:
print "line1\nline2"

line1
line2

In [116]:
s="line1\nline2"
print s

line1
line2

In [117]:
s="line1\nline2dfghjewqsdfg\nsdfghjgfdsa\nsdfgjrew\nsdfghjkhgfds"
print s

line1
line2dfghjewqsdfg
sdfghjgfdsa
sdfgjrew
sdfghjkhgfds

In [118]:
s="line1\\nline2dfghjewqsdfg\\nsdfghjgfdsa\nsdfgjrew\nsdfghjkhgfds"
print s

line1\nline2dfghjewqsdfg\nsdfghjgfdsa
sdfgjrew
sdfghjkhgfds

In [119]:
s=r"line1\nline2dfghjewqsdfg\nsdfghjgfdsa\nsdfgjrew\nsdfghjkhgfds"
print s

line1\nline2dfghjewqsdfg\nsdfghjgfdsa\nsdfgjrew\nsdfghjkhgfds

In [120]:
print "I need to get down.\n start my bike.\n go to my home.\n thake the luntch box\n. Again st\
"

I need to get down.
 start my bike.
 go to my home.
 thake the luntch box
. Again st

In [121]:
print bin(10)

0b1010

In [122]:
print hex(10)

0xa

In [123]:
print oct(10)

012

In [124]:
a=0o12
print hex(a)

0xa